
<h3> New Post: </h3>
<%= form_for @post do |f|%>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    Choose from Category: <br>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>

    Create Category: <br>
    <%= f.fields_for :categories, @post.categories.build do |categories| %>
        <%= categories.label :name %><br>
        <%= categories.text_field :name %><br>
    <%end%>

    <%= f.submit %>
<% end %>
